{
  "printWidth": 150,
  "overrides": [
    {
      "files": [
        "*.js",
        "*.json",
        "*.html"
      ],
      "options": {
        "proseWrap": "never",
        "tabWidth": 4
      }
    }
  ]
}
